
@{
    ViewData["Title"] = "UserList";
}

@model List<AdminModel.UserViewModel>

<div class="container py-5">
    <h1 class="display-4 text-center text-primary mb-4">Üye Listesi</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Kullanıcı Adı</th>
                <th>Email</th>
                <th>Roller</th>
                <th>Rol İşlemleri</th>
            </tr>
        </thead>
        <tbody>





            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>
                        <user-role-names user-id="@item.Id"></user-role-names>
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-controller="Roles" asp-action="AssignRoleToUser" asp-route-id="@item.Id">Rol Ata</a>
                    </td>
                </tr>
            }
        </tbody>





    </table>
</div>
